*{
    padding: 0;
    margin: 0;
}
.menu{
    background-color: rgb(180, 180, 39);
    height: 90px;
    text-align: center;
    position: relative;
}
.submenu{
    background-color: rgb(202, 202, 102);
    height: 40px;
    text-align: center;
    position: relative;
}
.submenu a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.submenu ul{
    position: relative;
    left:0;
    top:0;
    width: 100%;
    
    
}
.submenu li{
    display: inline-block;
    padding: 10px;

}
.submenu li:hover{
    background-color: rgb(128, 128, 63);
}

.menu h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);   
    font-family: 'Montserrat', sans-serif;
}

.corpo{
    margin: 0;
    
    /*
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)   */
    position: relative;
    left:0;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
}
.corpo input{
    height: 20px;
    width: 500px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid black;
    padding: 10px;
    transition: border-radius .2s; 
    margin-right: 0px;
    font-family: 'Montserrat', sans-serif;

}
.corpo input:focus{
    border-radius: 20px 0px 0px 20px;
    
}

.botao{
    margin-left: 0px;
    height: 44px;
    width: 65px;
    margin-left: -6px;
    border-radius: 0px 10px 10px 0px;
    background-color: #007bff;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: 2px solid black;
    transition: border-radius .2s;
}
.botao:hover{
    cursor: pointer;
    background-color: #0069d9;
}
.resultado{
    position: relative;
    left:0;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.arredondar{
    border-radius: 0px 20px 20px 0px;

}
.resultado{
    display: flex;
}

.estado{
    list-style-type: none;    

}

.estado2{
    display: grid;
}

.step{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.step img{
    width: 65px;
    margin-right: 15px;
}

.sub-step h3{
    color: #007bff;
}

.sub-step *{
    margin-top: 5px;
}

.save-div h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-size: 20px;
}

.salvar{
    position: relative;
    left:0;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: none;
}
.erro{
    display: none;
}
.show-erro{
    display: block;
}

.show{
    display: flex;
}

.salvar input{
    height: 20px;
    width: 400px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid black;
    padding: 10px;
    transition: border-radius .2s; 
    margin-right: 0px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;

}

.salvar .botao{
   background-color: black; 
   margin-bottom: 20px;
}

.salvar .botao:hover{
    background-color: #CACA66; 
    color: black;
 }
 

.bloco hr{
    background-color: black;
    height: 2px;
    border: none;
}

.bloco{
    display: inline-block;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 5px 6px black;
    transition: box-shadow linear .2s;
    margin-bottom: 20px;
}

.bloco:hover{
    box-shadow: 1px 2px 3px black;
    cursor: pointer;
}

.cabecalho{
    margin: 10px 0 3px 10px;
}

.situacao{
    margin: 10px;
} 


